$bgColorBlackLight: #161616;
$bgColorSiwy: #80693D;

body {
  background: $bgColorBlackLight;
}

p {
  text-indent: 35px;
}

.first-container {
  background: $bgColorBlackLight;
  text-align: center;
  color: white;
  font-family: 'Arvo', serif;
  font-size: 100px;
}

.first-container-bold {
  font-family: 'Arvo', serif;
  font-weight: bold;
  color: $bgColorSiwy;
  font-size: 100px;
}

.right-space {
  margin-right: 10%;
}

.navbar-RC {
  margin: 20px 0 0 0;
  color: #ffffff;
  background: $bgColorBlackLight;
  border: none;
  height: 70px;
}

.second-Container {
  color: white;
  font-size: 35px;
  text-align: center;
}

.pricetable {
  background-color: black;
}

.Table-RC {
  text-align: center;
  height: 150px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: solid 4px;
  color: #FFFFFF;

  th {
    text-align: center;
    width: 30%;
    background-color: $bgColorSiwy;
    margin: 10px;
    padding: 2%;
    border: solid black;
    border-width: 6px 5px 5px 6px;
  }
  td {
    border: solid black;
    border-width: 6px 5px 5px 6px;
    padding: 1%;

  }
  tr:nth-child(n) {
    background-color: $bgColorBlackLight;
  }
  tr:nth-child(2n) {
    background-color: black;
  }
}

.button-RC {
  margin: 20px 0 150px 0;
  width: 267px;
  height: 55px;
  border: none;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background: #80693D;
  color: #ffffff;
  word-spacing: 5px;
}

.third-container-logo {
  background: #0D0D0D;
  height: 395px;
}

.third-container-text {
  font-family: 'Source Sans Pro', sans-serif;
  background: $bgColorSiwy;
  color: white;
  padding: 2% 8% 2% 8%;
  font-size: 120%;
  line-height: 28px;
  letter-spacing: 1px;
  height: 395px;
}

.fourth-container {
  background: black;
}

fifth-container {
  background: #202020;
  height: 395px;
}

.fourth-container-text {;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  padding: 2% 8% 2% 8%;
  font-size: 120%;
  line-height: 28px;
  letter-spacing: 1px;
  height: 395px;
}

.sixth-container {
  background: black;
}

#Opinion {
  font-family: 'Source Sans Pro', sans-serif;
}

.whiteText {
  color: white;
}

.face {
  border-radius: 35px;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
}

#Clients {
  background: #202020;
  margin-bottom: 50px;
}

.contact {
  margin-top: 2%;
  background: black;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#Footer {
  letter-spacing: 1px;
  line-height: 2;
  border-top: solid whitesmoke 3px;
  background-color: black;
}

.buttonRepeatDiv {
  position: fixed;
  top: 92%;
  left: 93%;
  //background: rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
}

.buttonRepeat {
  font-size: 2.5em;
  //font-size: 50px;
  color: #FFFFFF;
}