body {
  background: #161616; }

p {
  text-indent: 35px; }

.first-container {
  margin-top: 90px;
  background: #161616;
  text-align: center;
  color: white;
  font-family: 'Arvo', serif;
  font-size: 100px; }

.first-container-bold {
  font-family: 'Arvo', serif;
  font-weight: bold;
  color: #80693D;
  font-size: 100px; }

.right-space {
  margin-right: 10%; }

.logoNavRC {
  height: 52px;
  width: 184px; }
  .logoNavRC a {
    padding: 0; }

.navbar-RC {
  padding: 10px;
  padding-right: 5%;
  color: #ffffff;
  background: #161616;
  border: none; }
  .navbar-RC ul > li {
    margin: 0 10px 10px 10px; }

.imageRC {
  height: 100%;
  width: 100%; }

.navHeightRC {
  height: 55px; }

.elMenuRC a {
  color: #FFFFFF;
  border-bottom: solid;
  border-bottom-width: 1px;
  padding-bottom: 10px;
  border-bottom-color: whitesmoke; }

.elMenuRC a:hover {
  color: #dceff2;
  border-bottom-color: #dceff2;
  text-decoration: none;
  border-bottom-width: 2px; }

.whiteText {
  color: whitesmoke; }

.textSizeRC {
  font-size: large; }

.second-Container {
  color: white;
  font-size: 35px;
  text-align: center; }

.pricetable {
  background-color: black; }

.Table-RC {
  text-align: center;
  height: 150px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: solid 4px;
  color: #FFFFFF; }
  .Table-RC th {
    text-align: center;
    width: 30%;
    background-color: #80693D;
    margin: 10px;
    padding: 2%;
    border: solid black;
    border-width: 6px 5px 5px 6px; }
  .Table-RC td {
    border: solid black;
    border-width: 6px 5px 5px 6px;
    padding: 1%; }
  .Table-RC tr:nth-child(n) {
    background-color: #161616; }
  .Table-RC tr:nth-child(2n) {
    background-color: black; }

.button-RC {
  margin: 20px 0 150px 0;
  width: 267px;
  height: 55px;
  border: none;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  background: #80693D;
  color: #ffffff;
  word-spacing: 5px; }

.third-container-logo {
  background: #0D0D0D;
  height: 395px; }

.third-container-text {
  font-family: 'Source Sans Pro', sans-serif;
  background: #80693D;
  color: white;
  padding: 2% 8% 2% 8%;
  font-size: 120%;
  line-height: 28px;
  letter-spacing: 1px;
  height: 395px; }

.fourth-container {
  background: black; }

fifth-container {
  background: #202020;
  height: 395px; }

.fourth-container-text {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  padding: 2% 8% 2% 8%;
  font-size: 120%;
  line-height: 28px;
  letter-spacing: 1px;
  height: 395px; }

.sixth-container {
  background: black; }

#Opinion {
  font-family: 'Source Sans Pro', sans-serif; }

.text-white {
  color: #FFFFFF; }
  .text-white a {
    color: greenyellow;
    text-decoration: none; }
  .text-white a:hover {
    color: red;
    text-decoration: none;
    cursor: pointer; }

.face {
  border-radius: 35px; }

.title {
  font-family: 'Source Sans Pro', sans-serif; }

#Clients {
  background: #202020;
  margin-bottom: 50px; }

.contact {
  margin-top: 2%;
  background: black;
  width: 80%;
  margin-left: auto;
  margin-right: auto; }

#Footer {
  letter-spacing: 1px;
  line-height: 2;
  border-top: solid whitesmoke 3px;
  background-color: black;
  padding-bottom: 50px; }

.buttonRepeatDiv {
  position: fixed;
  top: 90%;
  left: 91%;
  width: 50px;
  height: 50px;
  opacity: 0.5; }
  .buttonRepeatDiv a:hover {
    text-decoration: none; }

.buttonRepeat {
  font-size: 2em;
  color: #FFFFFF; }
